@use "library" as lib;
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
/* Layout */
%contentPaddingHor {
  padding: 0 6%;
}
%contentMarginHor {
  margin: 0 6%;
}

/* Color */
$beige: #fff5ec;
$red: #d0362c;
$black: #1E1E1E;

/* Font */

%fontStack {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  @extend %fontStack;
}

h1 {
  font-size: 37px;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  font-weight: 600;
}

.titlePhotoWall {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.titleSubWelcoming {
  font-size: 16px;
}

.titleInput {
  font-size: 16px;
}

p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}

button {
  border: none;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: $beige;
}