// SCSS
@use "src/library" as lib; 
@use "src/general" as gen;

body {
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-shrink: 0;
  }
}

.welcoming {
  position: relative;
  width: 100%;
  background-color: gen.$red;
  @extend %contentPaddingHor;
  padding-bottom: 60px;

  > :not(.backgroundTop) {
    position: relative;
    z-index: 1;
  }
  > nav {
    width: 100%;
    height: 66px;
    border-bottom: gen.$black solid 1px;
    display: flex;
    padding: 12px 0;
    > img {
      width: 36px;
      height: 36px;
      object-fit: cover;
    }
    > p {
      font-size: 16px;
      font-family: 'Suez One', serif;
      display: flex;
      align-items: center;
      margin-left: 14px;
    }
    > button {
      background-color: transparent;
      // @include lib.border();
      padding: 0;

      position: absolute;
      top: 0;
      bottom: 0;
      right: 4px;
      margin: auto 0;

      width: 24px;
      height: 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      > span {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: gen.$black;
        border-radius: 100px;
        margin: 1px 0;
      }
    }
  }  
  > h1 {
    margin-top: 36px;
    color: gen.$red;
    text-align: center;
  }
  > .titleSubWelcoming {
    text-align: center;
    margin-top: 20px;
    color: gen.$black;
  }
  > .buttonSet {
    width: 100%;
    height: 32px;
    margin-top: 16px;
    // @include lib.border();
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
    > :not(:first-child) {
      margin-left: 24px;
    }
  }
  > button {
    margin-top: 20px;
    background-color: gen.$red;
  }
  > .carousel {
    margin-top: 20px;
    height: 240px;
    // @include lib.border();
    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  > h2 {
    margin-top: 28px;
    color: gen.$beige;
  }
  > p {
    margin-top: 28px;
    color: gen.$beige;
  }

  > .backgroundTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 510px;
    background-color: gen.$beige;
  }
}

.introduction {
  position: relative;
  width: 100%;
  background-color: gen.$beige;
  // padding-bottom: 60px;
  p {
    padding-top: 16px;
  }
  .tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gen.$red;
    svg {
      width: 30px;
      height: 30px;
    }
    * {
      fill: gen.$beige;
    }
  }
  .service {
    position: relative;
    background-color: gen.$red;
    padding-bottom: 20px;
    img {
      border-left: gen.$red 6px solid;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 400px;  
    }
    > .content {
      margin-top: 20px;
      color: gen.$beige;
      @extend %contentPaddingHor;
      > button {
        background-color: gen.$black;
        margin-top: 20px;
      }
    }
  }
  .intro {
    position: relative;
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-intro.png");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    > .content {
      position: absolute;
      @extend %contentPaddingHor;
      color: gen.$beige;
    }
  }
  .bakery {
    position: relative;
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-bakery.png");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    border-left: gen.$red 6px solid;
    > .content {
      position: absolute;
      margin-top: 0;
    }
  }
}

.photoWall {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: gen.$beige;
  @extend %contentPaddingHor;
  > h2 {
    color: gen.$red;
  }
  > .blockImg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    > img {
      flex-shrink: 0;
      display: block;
      width: 47%;
      height: 47%;
      object-fit: cover;
      margin-top: 6%;
    }
    > img:nth-of-type(even) {
      margin-left: 6%;
    }
  }
}

.contact {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: gen.$black;
  // @include lib.border();
  @extend %contentPaddingHor;
  > :not(.blockLogo) {
    margin-top: 30px;
  }
  > .blockLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @extend %contentMarginHor;
    border-bottom: gen.$beige 1px solid;
    padding-bottom: 24px;

    > .svg {
      width: 100%;
      display: flex;
      justify-content: center;
      > svg {
        width: 36px;
        height: 36px;
        // object-fit: cover;
        * {
          fill: gen.$beige;
        }
      }      
    }
    > p {
      font-size: 16px;
      font-family: 'Suez One', serif;
      display: flex;
      align-items: center;
      margin-top: 14px;
      color: gen.$beige;
    }
  }
  > .unitContact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      flex-shrink: 0;
      width: 100%;
      color: gen.$beige;
    }
    > p {
      text-align: center;
      > span {
        display: inline-block;
        margin-top: 6px;
        width: 100%;
      }
      > span:first-of-type {
        margin-top: 16px;
      }      
    }
  }
  > .openingHour {
    > button {
      width: 230px;
      color: gen.$black;
      background-color: gen.$beige;
      margin-top: 20px;
    }
  }
  > .contactUs {
    h3 {
      color: gen.$beige;
    }
    p {
      color: gen.$beige;  
      text-align: center;
    }
    .mustFilled::after {
      content: '*';
      margin-left: 4px;
    }
    button {
      @include lib.border(gen.$beige);
      color: gen.$beige;
      background-color: gen.$red;
    }
    > label {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      > input {
        margin-top: 6px;
        width: 100%;
        height: 30px;
        @include lib.border(gen.$beige);
        background-color: gen.$black;
      }
      > .message {
        height: 160px;
      }
    }
    > label:last-of-type {
      > input {
        border-bottom: none;
      }
    }
  }
}

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: gen.$red;
  @extend %contentPaddingHor;
  > .map {
    width: 100%;
    height: 400px;
    @include lib.border(white);
  }
  > p {
    margin-top: 20px;
    font-size: 9px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    color: gen.$beige;
    > span {
      width: 100%;
    }
  }
}