@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
/* Border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Property Class-option */
.dp-none {
  display: none !important;
}

.vb-hidden {
  visibility: hidden !important;
}

.pt-relative {
  position: relative !important;
}

.errorMessage {
  color: red !important;
}

.zidx-negativeOne {
  position: relative;
  z-index: -1 !important;
}

/* Property Mixin */
/* Layout */
.welcoming, .introduction .service > .content, .introduction .intro > .content, .photoWall, .contact, footer {
  padding: 0 6%;
}

.contact > .blockLogo {
  margin: 0 6%;
}

/* Color */
/* Font */
h1, h2, h3, p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 37px;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  font-weight: 600;
}

.titlePhotoWall {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.titleSubWelcoming {
  font-size: 16px;
}

.titleInput {
  font-size: 16px;
}

p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}

button {
  border: none;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: #fff5ec;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  display: flex;
  flex-wrap: wrap;
}
body > * {
  flex-shrink: 0;
}

.welcoming {
  position: relative;
  width: 100%;
  background-color: #d0362c;
  padding-bottom: 60px;
}
.welcoming > :not(.backgroundTop) {
  position: relative;
  z-index: 1;
}
.welcoming > nav {
  width: 100%;
  height: 66px;
  border-bottom: #1E1E1E solid 1px;
  display: flex;
  padding: 12px 0;
}
.welcoming > nav > img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.welcoming > nav > p {
  font-size: 16px;
  font-family: "Suez One", serif;
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.welcoming > nav > button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto 0;
  width: 24px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.welcoming > nav > button > span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #1E1E1E;
  border-radius: 100px;
  margin: 1px 0;
}
.welcoming > h1 {
  margin-top: 36px;
  color: #d0362c;
  text-align: center;
}
.welcoming > .titleSubWelcoming {
  text-align: center;
  margin-top: 20px;
  color: #1E1E1E;
}
.welcoming > .buttonSet {
  width: 100%;
  height: 32px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcoming > .buttonSet > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.welcoming > .buttonSet > :not(:first-child) {
  margin-left: 24px;
}
.welcoming > button {
  margin-top: 20px;
  background-color: #d0362c;
}
.welcoming > .carousel {
  margin-top: 20px;
  height: 240px;
}
.welcoming > .carousel > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.welcoming > h2 {
  margin-top: 28px;
  color: #fff5ec;
}
.welcoming > p {
  margin-top: 28px;
  color: #fff5ec;
}
.welcoming > .backgroundTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  background-color: #fff5ec;
}

.introduction {
  position: relative;
  width: 100%;
  background-color: #fff5ec;
}
.introduction p {
  padding-top: 16px;
}
.introduction .tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0362c;
}
.introduction .tag svg {
  width: 30px;
  height: 30px;
}
.introduction .tag * {
  fill: #fff5ec;
}
.introduction .service {
  position: relative;
  background-color: #d0362c;
  padding-bottom: 20px;
}
.introduction .service img {
  border-left: #d0362c 6px solid;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 400px;
}
.introduction .service > .content {
  margin-top: 20px;
  color: #fff5ec;
}
.introduction .service > .content > button {
  background-color: #1E1E1E;
  margin-top: 20px;
}
.introduction .intro {
  position: relative;
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg-intro.png");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
}
.introduction .intro > .content {
  position: absolute;
  color: #fff5ec;
}
.introduction .bakery {
  position: relative;
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg-bakery.png");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  border-left: #d0362c 6px solid;
}
.introduction .bakery > .content {
  position: absolute;
  margin-top: 0;
}

.photoWall {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #fff5ec;
}
.photoWall > h2 {
  color: #d0362c;
}
.photoWall > .blockImg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.photoWall > .blockImg > img {
  flex-shrink: 0;
  display: block;
  width: 47%;
  height: 47%;
  object-fit: cover;
  margin-top: 6%;
}
.photoWall > .blockImg > img:nth-of-type(even) {
  margin-left: 6%;
}

.contact {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #1E1E1E;
}
.contact > :not(.blockLogo) {
  margin-top: 30px;
}
.contact > .blockLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: #fff5ec 1px solid;
  padding-bottom: 24px;
}
.contact > .blockLogo > .svg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact > .blockLogo > .svg > svg {
  width: 36px;
  height: 36px;
}
.contact > .blockLogo > .svg > svg * {
  fill: #fff5ec;
}
.contact > .blockLogo > p {
  font-size: 16px;
  font-family: "Suez One", serif;
  display: flex;
  align-items: center;
  margin-top: 14px;
  color: #fff5ec;
}
.contact > .unitContact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact > .unitContact > * {
  flex-shrink: 0;
  width: 100%;
  color: #fff5ec;
}
.contact > .unitContact > p {
  text-align: center;
}
.contact > .unitContact > p > span {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
}
.contact > .unitContact > p > span:first-of-type {
  margin-top: 16px;
}
.contact > .openingHour > button {
  width: 230px;
  color: #1E1E1E;
  background-color: #fff5ec;
  margin-top: 20px;
}
.contact > .contactUs h3 {
  color: #fff5ec;
}
.contact > .contactUs p {
  color: #fff5ec;
  text-align: center;
}
.contact > .contactUs .mustFilled::after {
  content: "*";
  margin-left: 4px;
}
.contact > .contactUs button {
  border-color: #fff5ec;
  border-width: 1px;
  border-style: solid;
  color: #fff5ec;
  background-color: #d0362c;
}
.contact > .contactUs > label {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.contact > .contactUs > label > input {
  margin-top: 6px;
  width: 100%;
  height: 30px;
  border-color: #fff5ec;
  border-width: 1px;
  border-style: solid;
  background-color: #1E1E1E;
}
.contact > .contactUs > label > .message {
  height: 160px;
}
.contact > .contactUs > label:last-of-type > input {
  border-bottom: none;
}

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d0362c;
}
footer > .map {
  width: 100%;
  height: 400px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
footer > p {
  margin-top: 20px;
  font-size: 9px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  color: #fff5ec;
}
footer > p > span {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
